<div class="ui segment">
  <h3 class="ui item">{{name}} Station</h3>
  <div class="ui five inverted stackable cards">
    <div class="card">
      <div class="content">
        <div class="content right floated">
          <i class="big purple map pin icon"></i>
        </div>
        <div class="header">{{name}}</div>
        <div class="description">
          Latitude:
        </div>
        <div class="description">
          {{lat}}
        </div>
        <div class="description">
          Longitude:
        </div>
        <div class="description">
          {{lng}}
        </div>
      </div>
    </div>
    <div class="inverted card">
      <div class="content">
        <div class="content right floated">
          <i class="big red {{weatherCodeIcons}} icon"></i>
        </div>
        <div class="header">Weather</div>
        <div class="description">
          {{weatherCodes}}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="content right floated">
          <i class="big blue temperature {{tempIcon}} icon"></i>
        </div>
        <div class="content right floated">
          <i class="big blue {{tempTrend}} icon"></i>
        </div>
        <div class="header">Temp</div>
        <div class="description">
          {{temperature}} C
        </div>
        <div class="description">
          {{tempF}} F
        </div>
        <div class="description">
          Max: {{maxTemp}} C
        </div>
        <div class="description">
          Min: {{minTemp}} C
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="content right floated">
          <i class="big green wind icon"></i>
        </div>
        <div class="content right floated">
          <i class="big green arrow {{windTrend}} icon"></i>
        </div>
        <div class="header">Wind</div>
        <div class="description">
          {{beaufort}} bft
        </div>
        <div class="description">
          {{degreesToCompass}}
        </div>
        <div class="description">
          {{WindDirection}}
        </div>
        <div class="description">
          Feels like:
        </div>
        <div class="description">
          {{windChill}}
        </div>
        <div class="description">
          Max: {{maxWind}}
        </div>
        <div class="description">
          Min: {{minWind}}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="content right floated">
          <i class="big orange compress arrows alternate icon"></i>
        </div>
        <div class="content right floated">
          <i class="big orange {{pressureTrend}} icon"></i>
        </div>
        <div class="header">Pressure</div>
        <div class="description">
          {{pressure}} hpa
        </div>
        <div class="description">
          Max:
        </div>
        <div class="description">
          {{maxPressure}} hpa
        </div>
        <div class="description">
          Min:
        </div>
        <div class="description">
          {{minPressure}} hpa
        </div>
      </div>
    </div>
  </div>
</div>


