{{#each stations}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{name}}
      {{code}}
      {{stationStore.stationCollection.readings.code}}
    </h2>
    <p> Total Duration: {{code}} </p>
    <p> Latitude: {{lat}} </p>
    <p> Longitude: {{lng}} </p>
    <p> Longitude: {{longitude}} </p>
    <a href="/station/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deleteReading/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </section>
{{/each}}
{{readings.code}}
